<%- include('partials/header') %>

<div class="container py-5">
    <div class="row g-4">
        <div class="col-md-4">
            <h5 class="text-gold">Ongoing</h5>
            <div id="ongoing" class="list-group"></div>
        </div>
        <div class="col-md-4">
            <h5 class="text-gold">Upcoming</h5>
            <div id="upcoming" class="list-group"></div>
        </div>
        <div class="col-md-4">
            <h5 class="text-gold">Completed</h5>
            <div id="completed" class="list-group"></div>
        </div>
    </div>
</div>

<!-- Add App Modal stays the same, just add Bootstrap classes if needed -->

<%- include('partials/footer') %>
